@font-face {
    font-family: open-sans;
    src: url(/resources/font/opensans-reg.ttf);
}
@font-face {
    font-family: inconsolata;
    src: url(/resources/font/inconsolata-reg.ttf);
}
@font-face {
    font-family: lato;
    src: url(/resources/font/lato-reg.ttf);
}
@font-face {
    font-family: futura;
    src: url(/resources/font/futura-light.ttf);
}
@font-face {
    font-family: titillium;
    src: url(/resources/font/titillium-reg.ttf);
}
@font-face {
    font-family: sreda;
    src: url(/resources/font/sreda.ttf);
}
@font-face {
    font-family: code;
    src: url(/resources/font/code-light.otf);
}
@font-face {
    font-family: code-bold;
    src: url(/resources/font/code-bold.otf);
}

:root {
    /* color-scheme: light only; */
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #fcfcfc; */
    /* background-color: #f5f6fa; */
    background-color: #FAF9F5;
}

@media screen and (max-width: 768px) {
    #main {
        width: 100%;
        a {
            text-decoration: none;
        }
        img {
            border-radius: 15px;
        }
        h1 {
            font-size: 2rem;
            margin-top: 1%;
            margin-bottom: 2%;
            text-align: center;
        }
        h2 {
            font-size: 1.75rem;
        }
    }
}
@media screen and (min-width: 768px) {
    #main {
        width: 80%;
        a:hover {
            color: #b08968;
            text-decoration: none;
        }
        img {
            border-radius: 1%;
        }
        h1 {
            font-size: 2.5rem;
        }
        h2 {
            font-size: 1.75rem;
        }
    }
}
#main {
    background-color: #FAF9F5;
    box-sizing: border-box;
    padding: .5% 3% 5% 3%;
    /* margin-top: 1%;
    margin-bottom: 1.5%; */

    border-radius: .5%;
    
    h1 {
        font-family: futura;
    }
    h2 {
        font-family: inconsolata;
    }
    li {
        font-family: lato;
        max-width: 90%;
    }
    a {
        color: #99582a;
    }
    img {
        pointer-events: none;
        user-select: none;
        width: 100%;
        height: 100%;
    }
}

#info {
    p {
        font-family: lato;
    }
}
#sum {
    display: inline-flex;
}
#desc {
    width: 100%;
    height: 100%;
    background-color: #abb0a570;
    box-sizing: border-box;
    p {
        font-family: open-sans;
    }
}
.highlightReel {
    /* pointer-events: none;
    user-select: none;
    width: 100%;
    height: 100%;
    border-radius: 1%; */
    /* width: 50% !important; */
}
@media screen and (max-width: 768px) {
    #info {
        p {
            /* font-size: 1.15rem; */
            display: none;
        }
    }
    #sum {
        justify-content: center;
        flex-wrap: wrap;
    }
    #desc {
        margin-top: 2%;
        width: 100%;
        padding: 0% 4% 3% 4%;
        border-radius: 20px;
        p {
            font-size: .9rem;
        }
        h2 {
            margin-bottom: 2.5%;
        }
        ul {
            margin: 0;
            margin-bottom: 5%;
        }
        li {
            font-size: .9rem;
        }
    }
    .highlightReel {
        width: 90% !important;
    }
}
@media screen and (min-width: 768px) {
    #info {

    }
    #sum {
        gap: 2.5%;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
    }
    #desc {
        padding: 1% 2% 2% 2%;
        border-radius: 1%;
        width: 50% !important;
    }
    .highlightReel {
        width: 50% !important;
    }
}

#detail {
    p {
        font-family: open-sans;
    }
}
.example {
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
    display: flex;
    gap: 2%;
    justify-content: center;
    flex-wrap: nowrap;

    img {
        min-width: 0;
        min-height: 0;
    }
    .singleimg {
        max-width: 60% !important;
    }
}
.example-caption {
    margin-top: -1%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    figcaption {
        background-color: #abb0a546;
        font-family: inconsolata;
        /* padding: 1% 1.5% 1% 1%; */
    }
}
.bar {
    background-color: #b08968;
}
@media screen and (max-width: 768px) {
    #detail {
        /* font-size: 1rem; */
        li {
            margin-bottom: 2%;
        }
    }
    .example {
        padding: 1% 0% 2% 0%;
        img {
            /* max-height: 50%; */
        }
        .singleimg {
            max-width: 85% !important;
        }
    }
    .example-caption {
        font-size: .85rem;
        figcaption {
            padding: 2% 2.5% 2% 2%;
        }
    }
    .bar
    {
        width: 1.5%;
    }
}
@media screen and (min-width: 768px) {
    #detail {

    }
    .example {
        padding: 1% 12% 2% 12%;
        img {
            max-height: 50%;
        }
        .singleimg {
            max-width: 60% !important;
        }
    }
    .example-caption {
        figcaption {
            padding: 1% 1.5% 1% 1%;
        }
    }
    .bar
    {
        width: 1%;
    }
}

.projectdirectory {
    text-align: center;
    font-family: futura;
    font-size: 1.35rem;
    a {
        color: black !important;
    }
    a:hover {
        text-decoration-color: #b08968;
    }
}

.projectcontainer {
    width: 100%;
    margin-bottom: 5%;
}
.projectcapsule {
    scroll-margin-top: 30vh;
    position: relative;
    box-sizing: border-box;
    background-color: #abb0a570;
    border-color: #5C4033;
    border-style: solid;
}
.projectcapsule .jump {
    left: 0;
    right: 0;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
}
.projectcapsule img {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: inherit !important;
    aspect-ratio: 16/9;
    min-height: 100%;
}
.projdesc {
    height: 100%;
    flex-grow: 2;
    flex-basis: auto;
    flex-shrink: 0;
}
.projdesc h2 {
    margin: 0;
}
.projdesc .points {
    font-family: lato;
}
.projdesc .blurb {
    font-family: open-sans;
    font-size: .95rem;
    margin: 0;
    a {
        text-decoration: none;
    }
}
@media screen and (max-width: 768px) {
    .projectdirectory {
        display: none;
    }
    .projectcapsule {
        padding: 2% 3% 3% 2%;
        margin: 0% 1% 3% 1%;
        border-width: .25rem;
        border-radius: 16px;
        display: flex;
        align-items: center;
        gap: 2.5%;
    }
    .projectcapsule img {
        width: 50% !important;
    }
    .projdesc {
        width: 50%;
    }
    .projdesc .blurb {
        display: none;
    }
    .projdesc h2 {
        font-size: 1.5rem !important;
    }
    .projdesc .points {
        font-size: .8rem;
        margin: 3% 0 0% 0;
    }
}
@media screen and (min-width: 768px) {
    .projectcapsule:hover {
        box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.5);
        transition: box-shadow .2s ease;
        border-color: #99582a;
        transition: border-color .2s ease;
    }
    .projectcapsule {
        padding: 2% 3% 2% 2%;
        margin: 0% 5% 2% 5%;
        border-width: .25rem;
        border-radius: 16px;
        display: flex;
        align-items: center;
        gap: 1%;
    }
    .projectcapsule img {
        width: 33% !important;
    }
    .projdesc {
        width: 66%;
    }
    .projdesc h2 {
        font-size: 2rem !important;
    }
    .projdesc .points {
        font-size: .9rem;
        margin: 1% 0 4% 0;
    }
}

footer {
    background-color: #898b87e0;
    width: 100%;
    display: inline-flex;
    align-content: center;
    box-sizing: border-box;
    padding: .25% 1% .25% 1%;
    img {
        width: 100%;
        height: 100%;
    }
    p {
        font-family: titillium;
    }
}
.socials {
    display: flex;
}
@media screen and (max-width: 768px) {
    footer {
        flex-wrap: wrap;
        p {
            display: none;
        }
    }
    .socials {
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin: 2% 1% 2% 1%;
        gap: 10%;
        img {
            width: auto;
            height: 35px;
        }
    }
}
@media screen and (min-width: 768px) {
    footer {
        justify-content: space-between;
    }
    .socials {
        align-items: center;
        margin-left: auto;
        gap: 15%;
        max-width: 120px;
        img:hover{
            opacity: 50%;
            transition: opacity .2s ease;
        }
    }
}

.navbar {
    background-color: #8f795a;
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
    margin: 0;
    padding: 0;
    align-items: center;
}
.navbar a {
    color: #FAF9F5;
    font-family: code;
    text-decoration: none;
}
.navbar .navlinks {
    display: inline-grid;
    grid-auto-flow: column;
    text-align: center;
}
.navbar .navlinks a {
    text-decoration: none;
    color: #FAF9F5;
    box-sizing: border-box;
    font-family: futura;
}
@media screen and (max-width: 768px) {
    .navbar {
        flex-wrap: wrap;
        justify-content: center;
    }
    .navbar a {
        margin: 0 0 0 .55%;
        padding: 0;
        font-size: 2rem;
        display: none;
    }
    .navbar .navlinks {
        width: 100%;
    }
    .navbar .navlinks a {
        border-right: solid;
        border-color: #FAF9F5;
        border-width: 1px;
        font-size: 1.6rem;
        padding-top: 8px;
        padding-bottom: 5px;
        display: block;
        font-family: code;
    }
    .navbar .navlinks a:last-child {
        border-right: none;
    }
}
@media screen and (min-width: 768px) {
    .navbar {
        justify-content: space-between;
    }
    .navbar a {
        margin: 0 0 0 .55%;
        padding: 0;
        font-size: 2rem;
    }
    .navbar .navlinks {
        margin-right: .5%;
    }
    .navbar .navlinks a {
        padding: 10px;
        font-size: 1.25rem;
        grid-auto-columns: 1fr;
    }
    .navbar .navlinks a:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }
}

embed {
    width: 100%;
    height: 100%;
}
.resumeview {
    width: 100%;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
}
@media screen and (min-width: 768px) {
    .resumeview {
        padding: 2% 10% 0 10%;
    }
}

.showcase {
    margin-bottom: 3%;
    h1 {
        font-family: code-bold !important;
        margin-bottom: 0;
    }
    h2 {
        margin: 0;
        font-family: futura !important;
    }
    img {
        max-width: 50%;
        pointer-events: all !important;
        user-select: all !important;
    }
    img:hover {
        opacity: 65%;
        transition: opacity .3s ease;
    }
}
.center {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.bio {
    display: flex;
    justify-content: space-between;
    gap: 1%;
    align-items: center;
    width: 95%;
    .biotext {
        font-family: open-sans;
        background-color: #abb0a570;
        border-radius: 16px;
        box-sizing: border-box;
        h2 {
            margin: 0;
        }
    }
    img {
        height: auto !important;
    }
}
@media screen and (max-width: 768px) {
    .showcase {
        h1 {
            margin-top: 1.5%;
        }
        h2 {
            font-size: 1.35rem !important;
            text-align: center;
            margin-bottom: 5%;
        }
    }
    .bio {
        font-size: 1rem;
        flex-wrap: wrap;
        img {
            display: none;
        }
        .biotext
        {
            width: 100%;
            padding: 2% 4% 2% 4%;
            h2 {
                font-size: 2rem !important;
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .showcase {
        h2 {
            font-size: 1.75rem !important;
        }
    }
    .bio {
        font-size: 1.2rem;
        img {
            width: 40% !important;
        }
        .biotext
        {
            width: 60%;
            padding: 2% 2% 2% 2%;
            h2 {
                font-size: 2.5rem !important;
            }
        }
    }
}
